@use '../core/type';
@use '../core/colours';

.Heading {
	font-family: type.$familyBody;
}

.Heading--2 {
	margin-bottom: 1em;
	font-size: 1rem;
	font-weight: 700;
	color: colours.$flamingoPink;
	text-transform: uppercase;
}