@use '../core/spacing';

.Output {
	text-align: center;
	margin-top: spacing.$v * 2;
	text-transform: lowercase;
	line-height: 1.5;
}

.Output__Image {
	margin-top: spacing.$v;
	margin-bottom: spacing.$v;
}