@use '../core/media';
@use '../core/spacing';

.PreviewSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.PreviewSection__Big {
	width: 100%;
	padding: 0 0 spacing.$v * 2;
	text-align: center;
	border-radius: 6px;


	@media #{media.$md} {
		padding: spacing.$v * 5 0;
	}
}