@use '../core/colours';
@use '../core/type';

.Root {
	background: colours.$canaryYellow;
}

html {
	font-family: type.$familyBody;
	font-size: type.$baseSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}
