@use '../core/type';
@use '../core/spacing';

.Settings__Label {
	display: inline-block;
	margin-bottom: spacing.$v;
	text-transform: lowercase;
}

.Settings__Input {
	font-size: 1rem;
	font-family: type.$familyBody;
	width: 100%;
	margin-bottom: 2 * spacing.$v;
	text-transform: lowercase;

	&:last-child {
		margin-bottom: 0;
	}
}