@use '../core/media';
@use '../core/spacing';
@use '../core/colours';

.SettingsContainer {
	display: flex;
	flex-direction: column-reverse;
	margin-top: spacing.$v * 5;
	margin-bottom: spacing.$v * 5;

	@media #{media.$md} {
		flex-direction: row;
	}
}

.SettingsContainer__Section {
	padding: spacing.$v * 2 spacing.$h * 2;
	flex-basis: 0;
	flex-grow: 1;
	background: #fff;
	border-radius: 0 0 8px 8px;

	@media #{media.$md} {
		border-radius: 8px 0 0 8px;
	}
}

.SettingsContainer__Section--secondary {
	border-radius: 8px 8px 0 0;
	position: sticky;
	top: 20px;
	border-bottom: 2px solid colours.$canaryYellow;

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		background: colours.$canaryYellow;
	}

	@media #{media.$md} {
		border-radius: 0 8px 8px 0;
		background: rgba(#fff, 0.5);
		border: none;
	}

	@media (max-height: 580px) {
		position: static;
	}
}
